<ul class="navbar">
    <li><a href="{{ site.baseurl }}/"><img id="navlogo" src="{{ site.baseurl }}/assets/img/powerfox-col.png" alt="PowerFox Logo" height="20"></a></li>
    <li><a href="{{ site.baseurl }}/download.html">Download</a></li>
    <li><a href="{{ site.baseurl }}/changelog.html">Changelog</a></li>
    <li><a href="{{ site.baseurl }}/langpacks.html">Language Packs</a></li>
    <li><a href="{{ site.baseurl }}/addons.html">Add-ons</a></li>
    <li><a href="{{ site.baseurl }}/community.html">Community</a></li>
</ul>
